html {
  background-color: rgb(211, 207, 207);
  font-family: Helvetica, 'Ubuntu', Arial, sans-serif;
  height: auto;
}

h1 {
  font-size: 2em;
  margin-top: -5px;
}

a {
  color: #0066cc;
  text-decoration: underline;
}

a:hover {
  transition: all 0.2s ease-in;
  color: #081163;
}

button {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 6px;
  border-radius: 4px;
}

button:hover {
  background-color: #d8d2d2;
  cursor: pointer;
}

#mainPopup {
  padding: 10px;
}

.divider {
  margin-bottom: -10px;
}

.second-divider {
  margin-top: 80px;
}

#displayQR {
  text-align: left;
}

#qr-input {
  text-align: left;
}

.divider {
  margin-top: -5px;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-content {
  position: absolute;
  font-size: 0.85rem;
}

.menu-content a {
  text-decoration: none;
  display: block;
  padding-bottom: 4px;
  color: #000000;
}

.menu-content a:hover {
  color: #ff6600;
}

.qr {
  margin-top: 58px;
}
